<!DOCTYPE html>
<html>
<head>
  <title>Clever example app | Sign up</title>
  <link href='/css/styles.css' rel='stylesheet'/>
</head>
<body class="p2">
  <h1 class="mb4">Welcome to the Clever Sample App!</h1>
  <a href="<%= login_url %>" class="big-cta">
    <img src="/img/Logo@1x.png" alt="Clever Lettermark" class="mr1"/>
    <span>Sign up with Clever</span>
  </a>
</body>
</html>
